[
    {erldns, [
        {listeners, [
            #{name => inet_1, port => 8053}
        ]},
        {zones, #{
            path => "priv/zones/"
        }},

        {use_root_hints, false}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            %% Shell log handler - it replaces the default one.
            {handler, default, logger_std_h, #{
                config => #{sync_mode_qlen => 0},
                formatter => {logger_formatter, #{legacy_header => false, single_line => true}}
            }}
        ]}
    ]}
].
