[
  {erldns,[
      {port, 8053},
      {inet4, "127.0.0.1"},
      {inet6, "::1"},
      {catch_exceptions, false},
      {credentials, {"indentifier", "token"}},
      {zone_server, [
          {host, "your-zone-server.example.com"}
        ]},
      {zones, "zones.json"},
      {metrics, [
        {port, 8082}
      ]},
      {admin, [
        {port, 8083},
        {credentials, {"username", "password"}}
      ]},
      {pools, [
          {tcp_worker_pool, erldns_worker, [
              {size, 10},
              {max_overflow, 20}
            ]}
        ]}
    ]},
  {lager, [
      {handlers, [
          {lager_file_backend, [{file, "log/console.log"}, {level, debug}, {size, 104857600}, {count, 5}]}
        ]}
    ]}
].
