[{mysql,[
    {pools, [
        {dns_pool, [
            {size, 10},
            {max_overflow, 20},
            {host, "localhost"},
            {port, 3306},
            {database, "dbname"},
            {user, "dbuser"},
            {password, "dbpassword"},
            {encoding, utf8}]
        }
      ]
    }]
  },
  {erldns,[
    {port, 53},
    {responders, [erldns_mysql_responder]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info}
    ]}
  ]}
].

