[
    {erldns, [
        {listeners, [
            #{name => inet_1, port => 8053}
        ]},
        {packet_pipeline, [
            erldns_questions,
            erldns_query_throttle,
            erldns_packet_cache,
            erldns_resolver_recursive,
            erldns_resolver,
            erldns_dnssec,
            erldns_sorter,
            erldns_section_counter,
            erldns_packet_cache,
            erldns_empty_verification
        ]},
        {zones, #{
            path => "priv/zones/"
        }},

        {use_root_hints, false}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            %% Shell log handler - it replaces the default one.
            {handler, default, logger_std_h, #{
                config => #{sync_mode_qlen => 0},
                formatter => {logger_formatter, #{legacy_header => false, single_line => true}}
            }}
        ]}
    ]}
].
