[
    {erldns, [
        {servers, [
            [{name, inet_localhost_1}, {address, "127.0.0.1"}, {port, 8053}, {family, inet}, {processes, 2}],
            [{name, inet6_localhost_1}, {address, "::1"}, {port, 8053}, {family, inet6}]
        ]},
        {packet_pipeline, [
            erldns_query_throttle,
            erldns_packet_cache,
            erldns_resolver,
            erldns_packet_cache,
            erldns_empty_verification
        ]},

        {dnssec, [
            {enabled, true}
        ]},

        {use_root_hints, false},
        {catch_exceptions, false},
        {zones, "priv/zones-example.json"},
        {pools, [
            {tcp_worker_pool, erldns_worker, [
                {size, 10},
                {max_overflow, 20}
            ]}
        ]}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            %% Shell log handler - it replaces the default one.
            {handler, default, logger_std_h, #{
                config => #{sync_mode_qlen => 0},
                formatter => {logger_formatter, #{legacy_header => false, single_line => true}}
            }}
        ]}
    ]}
].
