%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{require_otp_vsn, "R15"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {i, "./deps/dns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "HEAD"}},
        {epgsql, ".*", {git, "git://github.com/wg/epgsql.git", "HEAD"}},
        {dns, ".*", {git, "git://github.com/andrewtj/dns_erlang.git", "HEAD"}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "HEAD"}}
       ]}.
