%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "./deps/dns/include"},
            {i, "../dns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git"}},
        {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "2.2.1"}}},
        {folsom, ".*", {git, "git://github.com/folsom-project/folsom.git"}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}},
        {dns, ".*", {git, "git://github.com/aetrion/dns_erlang.git"}},
        {parse_xfrm_utils, ".*", {git, "git://github.com/sargun/parse_xfrm_utils.git"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git"}},
        {iso8601, ".*", {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.2"}}}
]}.

%% This is a rebar3-ism
{overrides, [
    {override, dns,
        [
            {plugins,[
                {provider_asn1, {git, "https://github.com/knusbaum/provider_asn1.git", {tag, "0.2.0"}}}
            ]},
            {provider_hooks, [
                {pre, [
                    {compile, {asn, compile}}
                ]},
                {post, [
                    {clean, {asn, clean}}
                ]}
            ]}
        ]
    }
]}.
