{erl_opts, [
    debug_info,
    warn_unused_vars,
    warnings_as_errors,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec
]}.
{minimum_otp_vsn, "27"}.

{project_plugins, [
    {rebar3_depup, "~> 0.4"},
    {rebar3_hex, "~> 7.0"},
    {rebar3_ex_doc, "~> 0.2"},
    {rebar3_lint, "~> 4.2"},
    {erlfmt, "~> 1.7"},
    {covertool, "~> 2.0"}
]}.

{deps, [
    {ranch, "~> 2.0"},
    {cowboy, "~> 2.0"},
    {dns_erlang, "~> 5.0"},
    {telemetry, "~> 1.3"},
    {segmented_cache, "~> 0.6"},
    {worker_pool, "~> 6.5"},
    {recon, "~> 2.5"}
]}.

{dist_node, [{setcookie, 'erldns-cookie'}, {sname, erldns}]}.

{overrides, [{override, cowboy, [{deps, [{cowlib, "~> 2.0"}]}]}]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.5.0"},
            {meck, "1.1.0"},
            {dnstest,
                {git, "https://github.com/dnsimple/dnstest",
                    {ref, "f369f7f1095d32909bd670957a3c85017069831f"}}}
        ]},
        {erl_opts, [
            nowarn_export_all,
            nowarn_missing_spec,
            nowarn_missing_doc
        ]},
        {covertool, [{coverdata_files, ["ct.coverdata"]}]},
        {cover_opts, [verbose, {min_coverage, 85}]},
        {cover_enabled, true},
        {cover_export_enabled, true}
    ]}
]}.
{depup, [{only, minor}]}.

{shell, [{apps, [erldns]}, {config, "erldns.example.config"}]}.

{relx, [
    {release, {erldns, git}, [erldns]},
    {dev_mode, true},
    {include_erts, false},
    {sys_config, "erldns.example.config"},
    {overlay, [{copy, "priv/zones/", "priv/zones"}]},
    {extended_start_script, true}
]}.

{dialyzer, [
    {warnings, [no_unknown]},
    {plt_extra_apps, [cowboy, ranch]}
]}.

{xref_checks, [
    locals_not_used,
    undefined_functions,
    undefined_function_calls,
    {deprecated_function_calls, next_major_release},
    {deprecated_functions, next_major_release}
]}.
{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {warnings_as_errors, true},
    {source_url, <<"https://github.com/dnsimple/erldns">>},
    {groups_for_modules, [
        {<<"Listeners">>, [erldns_listeners]},
        {<<"Packet pipeline">>, [
            erldns_pipeline,
            erldns_questions,
            erldns_edns_max_payload_size,
            erldns_query_throttle,
            erldns_packet_cache,
            erldns_resolver_recursive,
            erldns_resolver,
            erldns_dnssec,
            erldns_sorter,
            erldns_section_counter,
            erldns_axfr,
            erldns_empty_verification
        ]},
        {<<"Zones">>, [
            erldns_zones,
            erldns_zone_codec,
            erldns_zone_cache,
            erldns_zone_loader
        ]},
        {<<"Admin API">>, [
            erldns_admin,
            erldns_admin_root_handler,
            erldns_admin_zone_handler,
            erldns_admin_zone_records_handler
        ]}
    ]},
    {main, <<"readme">>},
    {extras, [
        <<"README.md">>,
        <<"priv/zones/ZONES.md">>,
        <<"docs/admin-api.md">>,
        <<"DESIGN.md">>,
        <<"CONTRIBUTING.md">>,
        <<"BENCHMARKING.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE.md">>
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "{src,test,include,scripts}/**/*.{hrl,erl,app.src,escript}",
        "erldns.example.config",
        "rebar.config"
    ]}
]}.

{elvis, [
    #{
        filter => "*.erl",
        dirs => ["src/**"],
        rules =>
            [
                {elvis_style, atom_naming_convention, #{
                    % changed default regex so Elvis allows atoms used
                    % as records fields in public_key library
                    regex => "^[a-z](_?[a-zA-Z0-9]+)*(_SUITE)?$"
                }},
                {elvis_style, export_used_types, #{ignore => [erldns_resolver]}},
                {elvis_style, max_module_length, #{
                    ignore => [
                        erldns_resolver,
                        erldns_zone_cache,
                        erldns_zone_decoder
                    ]
                }},
                {elvis_style, no_god_modules, #{ignore => [erldns_zone_cache]}},
                {elvis_style, dont_repeat_yourself, disable},
                {elvis_style, max_function_length, disable},
                {elvis_style, max_function_clause_length, disable},
                {elvis_style, no_common_caveats_call, #{
                    ignore => [{erldns_proto_udp_sup, name, 2}]
                }},
                {elvis_style, no_macros, disable},
                {elvis_style, state_record_and_type, disable},
                {elvis_style, private_data_types, disable},
                {elvis_style, no_throw, disable},
                %% Since OTP28
                {elvis_style, prefer_strict_generators, disable}
            ],
        ruleset => erl_files_strict
    },
    #{
        filter => "*.hrl",
        dirs => ["include"],
        ruleset => hrl_files
    },
    #{
        filter => "rebar.config",
        dirs => ["."],
        ruleset => rebar_config
    }
]}.
