[
  {erldns,[
      %% DB Config
      {storage,
          [{type, erldns_storage_mnesia},    %% erldns_storage_json | erldns_storage_mnesia
              {dir, "db_slave"},
              {dbname, undefined},  %% name of the db
              {user, undefined},    %% for future db types
              {pass, undefined},    %% for future db types
              {host, undefined},    %% for future db types
              {port, undefined}     %% for future db types
          ]},
      {servers, [
                  [{port, 8053},
                   {listen, [{127, 0, 0, 1}]},
                   {protocol, [tcp, udp]},
                   {worker_pool, [
                          {size, 10}, {max_overflow, 20}
                   ]}]
                ]},
      {crypto, [{key, "29bba620-39dc-4426-bb59-43c284752ee1"}, {vector, "fd4c96ec-9c51-4e67-8ee8-e643b0f960d0"}]},
      {master_admin_server, {{10, 1, 10, 51}, 9000}},
      {admin, [{listen, {127, 0, 0, 1}}, {port, 9000}]},
      {use_root_hints, false},
      {catch_exceptions, true},
      {zones, "priv/example.zone.json"},
      {metrics, [
        {port, 8082}
      ]}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 1048576000}, {date, "$D0"}, {count, 5}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}, {size, 1048576000}, {date, "$D0"}, {count, 5}]},
            {lager_file_backend, [{file, "log/debug.log"}, {level, info}, {size, 1048576000}, {date, "$D0"}, {count, 5}]}
        ]}
    ]}
].

