[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {mysql,[
         {pools, [
                  {dns_pool, [
                              {size, 10},
                              {max_overflow, 20},
                              {host, "localhost"},
                              {port, 3306},
                              {database, "erldns"},
                              {user, "root"},
                              {password, ""},
                              {encoding, utf8}]
                  }
                 ]
         }]
 },
 {erldns,[
          {port, 53},
          {responders, [erldns_mysql_responder]}
         ]}
].

